.keyContainer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
	gap: 0.5rem;
	margin-top: 1rem;
}

.btn {
	width: 100%;
	aspect-ratio: 1/1;
	background-color: white;
	padding: 0.5em;
	border: none;
	border-radius: 10px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	color: black;
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	transition-duration: 200ms;
}

.btn.active {
	background-color: hsl(200, 100%, 50%);
	color: white;
}

.btn.inactive {
	opacity: 0.3;
}

.btn:hover:not(:disabled),
.btn:focus:not(:disabled) {
	background-color: hsl(200, 100%, 75%);
	outline: none;
}
